Django>=4.2
djangorestframework
django-cors-headers
mysqlclient
boto3
PyJWT>=2.4.0
python-dotenv
requests>=2.0.0
cryptography>=42.0.0
pytest
pytest-django
# 클릭재킹 및 보안 관련
django-csp==3.7

# 라이브러리 취약점 보완
setuptools>=70.0.0

# OpenTelemetry for logging
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp