
.screen {
    height:100%;
    width:100%;
}

/* 공통 */
.transaction-container,
.transaction-container * {
  box-sizing: border-box;
}

.transaction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-bottom: 40px;
  background: #ffffff;
}

.bold-text {
    font-weight: bold;
    font-size: 24px;
}

/* header */
.transaction-quit {
  align-self: end;
  font-size: 20px;
  color: #d5d5d5;
  cursor: pointer;
}

.transaction-quit:hover {
  color: #000;
}

.transaction-title {
   width: 320px;
}

.transaction-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 100%;
}

/* body */
.section-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 150px;
}

.account-info-box {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  font-size: 16px;
  color: #5d5d5d;
  background-color: #eee;
  border-radius: 8px;
  border-style: none;
}

.account-input-box {
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 150px;
  font-size: 16px;
  color: #5d5d5d;
  background-color: #eee;
  border-radius: 8px;
  border-style: none;
}

.account-input-box:focus {
  outline: none;
}

.account-name {
  font-weight: bold;;
}

.amount-input-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.amount-input-text {
    width: 80%;
    font-size: 24px;
    text-align: center;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
}

.amount-input-text:focus {
  outline: none;
  border-bottom: 1px solid #000; /* 클릭 시 아래 줄만 진하게 */
}

.unit-label {
  font-size: 24px;
  font-weight: bold;
  margin-left: 8px;
}

.confirm-message {
    text-align: center;
    font-size: 18px;
}

/* 송금 확인 */
.account-detail-box {
  width: 100%;
  padding: 20px;
  margin-bottom: 40px;
  color: #5d5d5d
}

.account-detail-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 16px;
}

.account-detail-label {
  font-weight: 500;
}

.account-detail-value {
  font-weight: 500;
}

.memo-input-box {
  width: 100%;
  padding: 12px;
  text-align: end;
  border: 1px solid #eee;
  border-radius: 12px;
  font-size: 16px;
  margin-top: 4px;
  color: #5d5d5d;
}

.memo-input-box:focus {
  outline: none;
  border-color: #5d5d5d;
}


.single-btn-dark-box.disabled {
  background-color: #d9d9d9;
  cursor: not-allowed;
}