
.edit-userinfo,
.edit-userinfo * {
  box-sizing: border-box;
}

.edit-userinfo {
  background: #ffffff;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}