@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

.title {
    font-family: "Lemon", serif;
}

.subtitle {
    color: #000000;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
    display: block;  /* 블록 요소로 설정하여 input-box 위에 배치 */
    margin-bottom: 5px; /* input-box와의 간격 조정 */
  }
  
.subsubtitle {
    width: 100%;
    font-family: "Inter-Bold", sans-serif;
    font-weight: 700;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.info-input-box{
    background: rgba(255, 254, 254, 0);
    border-radius: 15px;
    border: 1px solid #818181;
    width: 321px;
    height: 61px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 15px;
}

.info-input-text{
    color: #818181;
    font-family: "Inter-Bold", sans-serif;
    font-size: 17px;
    font-weight: 700;
    border: none;
    width: 100%;
    outline: none;
}

.single-btn-dark-box {
    background: #3b3939;
    border-radius: 15px;
    width: 321px;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 20px;
}

.single-btn-dark-text {
    color: #ffffff;
    font-family: "Inter-Bold", sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    width: 321px; /* input-box와 동일한 너비 */
    margin-top: 10px;
}

.half-btn-light, .half-btn-dark {
    width: 48%; /* 버튼을 input-box의 절반 크기로 설정 */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.half-btn-light {
    background: #969696;
}

.half-btn-dark {
    background: #3b3939;
}

.back-btn-wrapper {
    margin-bottom: 40px;
  }
  
.back-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: block;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px; /* 이건 각 버튼 사이 간격 */
    padding: 40px 20px;
}

.menu-list {
    background: none;
    border: none;
    color: #000000;
    font-family: "Inter-Bold", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

/* 로딩 스켈레톤 */
/* 공통 애니메이션 */
@keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* 박스 뼈대 */
  .skeleton-box {
    background-color: #e0e0e0;
    border-radius: 4px;
    display: inline-block;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  /* 리스트 아이템 감싸는 틀 */
  .skeleton-item {
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
  }
  
  /* 전체 리스트에 적용되는 느낌 */
  .transaction-history.skeleton {
    list-style: none;
    padding: 0;
    margin: 0;
  }